:root {
  --ex-black: #1a1a1a;
  --ex-bluegray: #19647e;
  --ex-verdigris: #28afb0;
  --ex-pistachio: #8ec187;
  --ex-yellow: #f4d35e;
  --ex-orange: #ee964b;
  --ex-peach: #f1a96a;
  --ex-white: #f8f8f8;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--ex-black);
  color: var(--ex-white);
  margin: 0;
}

button,
.btn {
  background-color: var(--ex-orange);
  color: var(--ex-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn.secondary {
  background-color: var(--ex-verdigris);
}
button:hover,
.btn:hover {
  background-color: var(--ex-yellow);
  color: var(--ex-black);
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', serif;
  font-weight: 600;
}
footer .inner {
  display: flex;
  justify-content: center;
}
footer p a {
  text-decoration: underline;
}

.logo {
  font-family: 'Lora', serif;
  font-size: 2.6rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 2rem;
  }
}
