.title {
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.budget-list {
  list-style: none;
  padding: 2rem 0;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; */
}

.budget-list a {
  display: flex;
  gap: 1rem;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

@media screen and (max-width: 768px) {
  .content,
  .budget-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .user-budgets h2 {
    text-align: center;
    padding-bottom: 2rem;
  }
}
