.hero {
  height: 600px;
}
.hero .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
}
.hero h1 {
  font-size: 5rem;
}
.hero p {
  font-size: 2rem;
}
.hero .buttons {
  display: flex;
  column-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero .inner {
    width: 100%;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
