.form-panel {
  width: max-content;
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-panel h1 {
  font-size: 2.4rem;
  text-align: center;
}
.dark .form-panel {
  border: 0.1px solid var(--ex-white);
  box-shadow: 0 0 5px white;
}
.form-panel:deep(label) {
  display: block;
  margin-bottom: 8px;
}
.form-panel:deep(input) {
  width: 100%;
  height: 20px;
  min-width: 250px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--ex-bluegray);
  border-radius: 5px;
}
.form-panel:deep(button) {
  margin: 2rem 0;
  font-size: 1.125rem;
}
.form-panel:deep(.btn-wrap) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form-panel {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    box-shadow: none;
  }
}
