.form-panel {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark .form-panel {
  border: 1px solid var(--ex-white);
}

.form-panel:deep(label) {
  display: block;
  margin-bottom: 8px;
}

.form-panel:deep(input) {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--ex-bluegray);
  border-radius: 5px;
}
